[submodule "wb_ws/src/micro-ROS-Agent"]
	path = wb_ws/src/micro-ROS-Agent
	url = https://github.com/micro-ROS/micro-ROS-Agent.git
[submodule "uwb_ws/src/micro-ROS-Agent"]
	path = uwb_ws/src/micro-ROS-Agent
	url = https://github.com/micro-ROS/micro-ROS-Agent.git
